body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.page-wrap {
    width: 100%;
}

.gallery {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px; /* Ajusta el tamaño máximo del carrusel */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: auto;
    max-height: 400px; /* Ajusta el tamaño máximo de la imagen */
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra las imágenes horizontalmente */
    gap: 10px; /* Espacio entre los elementos */
}

.media {
    flex: 1 1 calc(33.333% - 10px); /* Ajusta el tamaño de los elementos para que sean un tercio del contenedor */
    box-sizing: border-box;
    margin-bottom: 10px;
}

.grid-item {
    width: 100%;
    height: auto;
    display: block;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta las imágenes para cubrir completamente el contenedor */
}
footer {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.carousel-inner .carousel-item {
    display: none;
}

.carousel-inner .carousel-item.active {
    display: block;
}
